<div class="row">
  <h2>
    <small>
      <%= @selected_subobject.name %>
    </small>  
  </h2>  
  <div class="large-6 columns">
    <%= form_for(@task, :remote => true) do |f| %>
      <h3><small>POLA OBOWIĄZKOWE</small></h3>
      <%= f.collection_select(:task_type_id, TaskType.where(is_for_building: 1), :id, :name,
        :prompt => "Wybierz zadanie...")  %>
      <h4><small>DATA OPERACJI:</small></h4>
      <%= f.date_field :operation_date %>
      <%= f.text_field :operation_costs, placeholder: 'Wartość całkowita operacji' %>
      
      <h3 id="additionalFields" class="hide"><small>POLA DODATKOWE</small></h3>

      <!--==================================================================-->
      
      <div id="36" class="hide"> <!-- Leasing -->
        <%= f.text_field :leasing_time, placeholder: 'Okres leasingu w miesiącach' %>
        <%= f.text_field :leasing_instalment, placeholder: 'Wartość raty leasingu' %>
        <%= f.text_field :lessor, placeholder: 'Leasingodawca' %>
      </div>

      <!--==================================================================-->
      
      <div id="5" class="hide"> <!-- Remont -->
        <%= f.text_field :repaired_element, placeholder: 'Naprawiany element' %>
      </div>

      <!--==================================================================-->
      
      <div id="43" class="hide"> <!-- Sprzedaż budynku -->
        <%= f.text_field :buyer_name, placeholder: 'Nazwa kupującego' %>
        <%= f.text_field :unit_price, placeholder: 'Cena metra kwadratowego' %>
      </div>

      <!--==================================================================-->
      
      <div id="3" class="hide"> <!-- Wybudiwanie -->
      </div>

      <!--==================================================================-->
      
      <div id="42" class="hide"> <!-- zakup budynku -->
        <%= f.text_field :seller_name, placeholder: 'Nazwa sprzedającego' %>
        <%= f.text_field :unit_price, placeholder: 'Cena metra kwadratowego' %>
        <h4><small>DOMINUJĄCA FORMA PŁATNOŚCI:</small></h4>
          <div align = "center">
            <div class="small-4 large-4 columns">
            <%= f.label :payment_form, "Gotówka" %>
            <%= f.radio_button :payment_form, 1 %> 
            </div>
            
            <div class="small-4 large-4 columns">
            <%= f.label :payment_form, "Kredyt" %>
            <%= f.radio_button :payment_form, 2 %> 
            </div>

            <div class="small-4 large-4 columns">
            <%= f.label :payment_form, "Środki UE" %>
            <%= f.radio_button :payment_form, 3 %> 
            </div>

          </div>
      </div>

      <!--==================================================================-->
      
      <div id="4" class="hide"> <!-- zburzenie -->
        <%= f.text_field :Reason, placeholder: 'Powód zburzenia' %>
      </div>

      <!--==================================================================-->
      
      <div id="comment" class="hide">
        <%= f.text_field :comment, placeholder: 'Dodaj komentarz' %>
      </div>
      <%= f.hidden_field :building_id, :value => @selected_subobject.id %>
      <%= f.hidden_field :is_for_building, :value => 1 %>
      <%= f.submit "ZAREJESTRUJ ZADANIE", class: "button" %>
    <% end %><!--END OF FORM_FOR-->
  </div><!--END OF columns-->
</div><!--END OF row-->

<div>
  <p>selected_task_div_id:</p>
</div>
<div id="selected_task_div_id">
</div>

<%  @all_task_types = TaskType.all %>

<script>
  $(document).ready(function() {
    $('#task_task_type_id').change(function() {

      $( ".hide" ).hide();
      var task_types = new Array();
      <% @all_task_types.each do |task| %>
        task_types.push(new Array(<%= task.id %>, <%= task.div_id %>))
      <% end %>

      selected_task_id = $( this ).val();

      jQuery.each( task_types, function( i, val ) {
          if (val[0] == selected_task_id){
            selected_task_div_id = val[1];
          } ;
        });

      $( "#selected_task_div_id" ).text( selected_task_div_id );

      $("#" + selected_task_div_id).show();
      $("#additionalFields").show();
      $("#comment").show();
    });
  });
</script>