<div class="add-button">    
  <div class="row">
    <div class="large-12 columns">
      <a href="#" class="button" data-reveal-id="addEquipment">Dodaj maszynę</a>
    </div>
  </div> <!--END OF row-->
</div><!--END OF add-button-->


<div id="addEquipment" class="reveal-modal" data-reveal>
  <h1><small>Dodaj maszynę:</small></h1>
  <div class="form">
    <%= form_for(@equipment) do |f| %>
      <%= f.text_field :name, placeholder: "Nazwa maszyny" %>
      <h3><small>Typ maszyny:</small></h3>
      <%= f.collection_select(:equipmenttype_id, Equipmenttype.all, :id, :name) %>
      <h3><small>Data produkcji:</small></h3>
      <%= f.date_field :production_date %>
      <%= f.text_field :manufacturer_name, placeholder: "Producent" %>
      <%= f.text_field :model_name, placeholder: "Model" %>
      <h3><small>Data nabycia:</small></h3>
      <%= f.date_field :buy_date %>
      <%= f.hidden_field :archive, :value => '0' %>
      <%= f.submit "Dodaj maszynę", class: "button" %>
    <% end %>
  </div> <!--END OF form-->
</div> <!--END OF reveal-modal-->
