<div class="large-6 columns">
  <div class="large-8 columns">
    <%= search_form_for @search_skupnicy do |f| %>



    <%= f.text_field :name_cont, placeholder: "Nazwa Skupnika" %>
  </div>
  <div class="large-4 columns">
    <%= f.submit "Wyszukaj", class: "button" %>
  </div>

  <% end %>
</div>
<div class="large-12 columns">
  <ul class="users">
    <% @skupnicy.each do |user| %>
      <li>
      <%= gravatar_for user %>
      Rolnik: <%= link_to user.name, user %>
      Kod pocztowy: <%= user.zipcode %>
      Typ: <%= user.user_type_id %>
      <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete,
                                      data: { confirm: "You sure?" } %>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>

