<div class="row">
  <div class="large-3 columns">
    <p>Typ: <%= building_type(current_building).name %></p>
  </div>
  <div class="large-3 columns">
    <p>Data budowy: <%= current_building.build_date %></p>
  </div>
  <div class="large-3 columns">
    <p>Powierzchnia: <%= current_building.area %> m2</p>
  </div>
  <div class="large-3 columns">
  </div>
</div>
<div class="row">
  <div class="large-3 columns">
    <p><a href="#edit" data-reveal-id="editBuilding">Edytuj budynek</a></p>
  </div>
  <div class="large-3 columns">
    <a href="#remove" data-reveal-id="archiveBuilding">Usuń budynek</a>
  </div>
  <div class="large-3 columns">
  </div>
</div>


<div id="editBuilding" class="reveal-modal" data-reveal>
  <h1><small>Edytuj informacje o budynku:</small></h1>
  <div class="form">
    <%= form_for(@building) do |f| %>
      <%= f.text_field :name, placeholder: "Nazwa budynku" %>
      <h3><small>Typ budynku:</small></h3>
      <%= f.collection_select(:buildingtype_id, Buildingtype.all, :id, :name) %>
      <h3><small>Data wybudowania:</small></h3>
      <%= f.date_field :build_date %>
      <h3><small>Powierzchnia budynku w m2:</small></h3>
      <%= f.text_field :area, placeholder: "Powierzchnia budynku w m2" %>
      <%= f.hidden_field :archive, :value => '0' %>
      <%= f.submit "Edytuj budynek", class: "button" %>
    <% end %>
  </div> <!--END OF form-->
</div> <!--END OF reveal-modal-->

<div id="archiveBuilding" class="reveal-modal" data-reveal>
  <h1><small>Potwierdź usunięcie budynku</small></h1>
  <div class="form">
    <%= form_for(@building) do |f| %>
      <%= f.hidden_field :archive, :value => '1' %>
      <%= f.submit "Usuń budynek", class: "button" %>
    <% end %>
  </div> <!--END OF form-->
</div> <!--END OF reveal-modal-->
