<div class="add-button">    
  <div class="row">
    <div class="large-12 columns">
      <a href="#" class="button" data-reveal-id="addMachine">Dodaj maszynę</a>
    </div>
  </div> <!--END OF row-->
</div><!--END OF add-button-->


<div id="addMachine" class="reveal-modal" data-reveal>
  <h1><small>Dodaj maszynę:</small></h1>
  <div class="form">
    <%= form_for(@machine) do |f| %>
      <%= f.text_field :name, placeholder: "Nazwa maszyny" %>
      <h3><small>Typ maszyny:</small></h3>
      <%= f.collection_select(:machinetype_id, Machinetype.all, :id, :name, {include_blank: true}) %>
      <%= f.text_field :manufacturer_name, placeholder: "Producenta" %>
      <%= f.text_field :model_name, placeholder: "Model" %>
      <h3><small>Data zakupu:</small></h3>
      <%= f.date_field :buy_date %>
      <h3><small>Data produckji:</small></h3>
      <%= f.date_field :production_date %>
      <%= f.hidden_field :archive, :value => '0' %>
      <%= f.submit "Dodaj maszynę", class: "button" %>
    <% end %>
  </div> <!--END OF form-->
</div> <!--END OF reveal-modal-->
