<div class="row">
  <div class="large-3 columns">
    <p>Typ: <%= machine_type(current_machine).name %></p>
  </div>
  <div class="large-3 columns">
    <p>Producent: <%= current_machine.manufacturer_name %></p>
  </div>
  <div class="large-3 columns">
    <p>Model: <%= current_machine.model_name %></p>
  </div>
  <div class="large-3 columns">
    <p>Data zakupu: <%= current_machine.buy_date %></p>
  </div>
</div>
<div class="row">
  <div class="large-3 columns">
    <p>Data produkcji: <%= current_machine.production_date %></p>
  </div>
  <div class="large-3 columns">
    <p><a href="#edit" data-reveal-id="editMachine">Edytuj Maszynę</a></p>
  </div>
  <div class="large-3 columns">
    <a href="#remove" data-reveal-id="archiveMachine">Usuń maszynę</a>
  </div>
  <div class="large-3 columns">
  </div>
</div>


<div id="editMachine" class="reveal-modal" data-reveal>
  <h1><small>Edytuj informacje o maszynie:</small></h1>
  <div class="form">
    <%= form_for(@machine) do |f| %>
      <%= f.text_field :name, placeholder: "Nazwa maszyny" %>
      <h3><small>Typ maszyny:</small></h3>
      <%= f.collection_select(:machinetype_id, Machinetype.all, :id, :name) %>
      <%= f.text_field :manufacturer_name, placeholder: "Producenta" %>
      <%= f.text_field :model_name, placeholder: "Model" %>
      <h3><small>Data zakupu:</small></h3>
      <%= f.date_field :buy_date %>
      <h3><small>Data produckji:</small></h3>
      <%= f.date_field :production_date %>
      <%= f.hidden_field :archive, :value => '0' %>
      <%= f.submit "Edytuj maszynę", class: "button" %>
    <% end %>
  </div> <!--END OF form-->
</div> <!--END OF reveal-modal-->

<div id="archiveMachine" class="reveal-modal" data-reveal>
  <h1><small>Potwierdź usunięcie maszyny</small></h1>
  <div class="form">
    <%= form_for(@machine) do |f| %>
      <%= f.hidden_field :archive, :value => '1' %>
      <%= f.submit "Usuń maszynę", class: "button" %>
    <% end %>
  </div> <!--END OF form-->
</div> <!--END OF reveal-modal-->
