<% provide(:title, current_field.name) %>

<div class="field-show">
  <nav class="breadcrumbs">
    <%= link_to "Strona główna", root_path %>
    <%= link_to "Pola", fields_path %>
    <a class="current" href="#"><%= current_field.name %></a>
  </nav>

  <div class="edit-errors">
    <div class="row">
      <%= render 'shared/error_messages', object: @field %>
    </div>
  </div> <!--END OF edit-errors -->

  <div class="field-title">
    <div class="row">
      <h1><%= current_field.name %></h1>
    </div>
  </div><!--END OF field-title-->

  <div class="field-description-and-edit">
    <div class="row">
      <div class="large-3 columns">
        <p>Powierzchnia: <%= "#{number_with_delimiter(current_field.area, 
          separator: ",")} #{current_field.unit_symbol}" %> </p>
      </div>
      <div class="large-3 columns">
        <p>Lokalizacja: <%= current_field.location %></p>
      </div>
      <div class="large-3 columns">
        <a href="#edit" data-reveal-id="editField">Edytuj pole</a>
      </div>
      <div class="large-3 columns">
        <a href="#remove" data-reveal-id="archiveField">Usuń pole</a>
      </div>
    </div>
  </div><!--END OF field-description-and-edit-->

  <div class="seasons-section">
    <%= render 'seasons' %>
  </div>

  <div id="editField" class="reveal-modal" data-reveal>
    <h1><small>Edytuj informacje o polu:</small></h1>
    <div class="form">
      <%= form_for(@field) do |f| %>
        <%= f.text_field :name, placeholder: "Nazwa pola" %>
        <%= f.text_field :area, placeholder: "Powierzchnia pola w hektarach" %>
        <%= f.text_field :location, placeholder: "Lokalizacja pola" %>
        <%= f.submit "Dodaj sezon", class: "button" %>
      <% end %>
    </div> <!--END OF form-->
  </div> <!--END OF reveal-modal-->

  <div id="archiveField" class="reveal-modal" data-reveal>
    <h1><small>Potwierdź usunięcie pola</small></h1>
    <div class="form">
      <%= form_for(@field) do |f| %>
        <%= f.hidden_field :archive, :value => '1' %>
        <%= f.submit "Usuń pole", class: "button" %>
      <% end %>
    </div> <!--END OF form-->
  </div> <!--END OF reveal-modal-->
</div> <!--END OF field-show-->




