<% provide(:title, current_field.name) %>

<div class="field-show">
  <nav class="breadcrumbs">
    <%= link_to "Strona główna", root_path %>
    <%= link_to "Pola", fields_path %>
    <a class="current" href="#"><%= current_field.name %></a>
  </nav>

  <div class="edit-errors">
    <div class="row">
      <%= render 'shared/error_messages', object: @field %>
    </div>
  </div> <!--END OF edit-errors -->

  <div class="field-title">
    <div class="row">
      <h1><%= current_field.name %></h1>
    </div>
  </div><!--END OF field-title-->

  <div class="field-description-and-edit">
    <%= render 'field_description_and_edit' %>
  </div><!--END OF field-description-and-edit-->

  <div class="seasons-section">
    <%= render 'seasons' %>
  </div>

</div> <!--END OF field-show-->




