<% provide(:title, "Pola") %>

<div class="field-index">

  <nav class="breadcrumbs">
    <%= link_to "Strona główna", root_path %>
    <a class="current" href="#">Pola</a>
  </nav> <!--END OF breadcrumbs -->

  <% if user_active_fields.count == 0 %>
  <div class="no-field">
    <div class="row">
      <div class="large-12 columns">
        <div class="panel clearfix"> 
          <h2><small>Nie dodałeś jeszcze żadnego pola.</small></h2>
          <h3><small>Wykorzystaj przycisk "Dodaj pole", który znajduje się poniżej
            w celu dodania swojego pierwszego pola.</small></h3>  
        </div>
      </div>
    </div>
  </div> <!--END OF no-fields-->
    <% end %>

<div class="sign-up-errors">
  <div class="row">
    <%= render 'shared/error_messages', object: @field %>
  </div>
</div><!--END OF sign-up-errors-->

<div class="fields">
  <% user_active_fields.each do |field| %>
        <% if (user_active_fields.index(field)+1) % 3 == 1 %>
          <div class="row">
        <%  end %>
            <div class="large-4 columns">
              <%= link_to field do %>
              <div class="panel clearfix"> 
                <h2><small>Pole: <span><%= field.name %></span></small></h2>
                <h3><small>Powierzchnia: <%= "#{number_with_delimiter(field.area, separator: ",")} #{field.unit_symbol}" %> </small></h3>
                <h3><small>Lokalizacja: <%= field.location %></small></h3>
              </div>
              <% end %>
            </div>
            <% if (user_active_fields.index(field)+1) % 3 == 1 %>
            <div class="large-4 columns">
            </div>
            <div class="large-4 columns">
            </div>
            <%  end %>
            <% if (user_active_fields.index(field)+1) % 3 == 2 %>
            <div class="large-4 columns">
            </div>
            <%  end %>
                
        <% if (user_active_fields.index(field)+1) % 3 == 0 || (user_active_fields.index(field)+1) == user_active_fields.count %>
          </div>
        <%  end %>
    <% end %>
  </div><!--END OF fields-->

  
  <div class="add-button">    
    <div class="row">
      <div class="large-12 columns">
        <a href="#" class="button" data-reveal-id="addField">Dodaj pole</a>
      </div>
    </div> <!--END OF row-->
  </div><!--END OF add-button-->

  <div id="addField" class="reveal-modal" data-reveal>
    <h1><small>Dodaj pole:</small></h1>
    <div class="form">
      <%= form_for(@field) do |f| %>
        <%= f.text_field :name, placeholder: "Nazwa pola" %>
        <div class="radio-button">
          <h3><small>Jednostka powierzchni:</small></h3>
          <div align = "center">
            <div class="small-6 large-4 columns">
            <%= f.label :unit_symbol, "hektar" %>
            <%= f.radio_button :unit_symbol, "ha" %> 
            </div>
            
            <div class="small-6 large-4 columns">
            <%= f.label :unit_symbol, "ar" %>
            <%= f.radio_button :unit_symbol, "ar" %> 
            </div>
            <div class="small-6 large-4 columns">
            </div>
            
          </div>
        </div>
        <%= f.text_field :area, placeholder: "Powierzchnia pola" %>
        <%= f.text_field :location, placeholder: "Lokalizacja pola" %>
        <%= f.hidden_field :area_unit_id, :value => '999' %>
        <%= f.hidden_field :archive, :value => '0' %>
        <%= f.submit "Dodaj pole", class: "button", :disable_with => 'Zapisuje...' %>
      <% end %>
    </div> <!--END OF form-->
  </div> <!--END OF reveal-modal-->
</div> <!--END OF field-index-->

<%= debug(current_field) %>
