<div class="row">
  <div class="large-3 columns">
    <p>Pojemność: <%= current_warehouse.volume %>
              <%= warehouse_volume_unit(current_warehouse).name %> </p>
  </div>
  <div class="large-3 columns">
    <p><a href="#edit" data-reveal-id="editWarehouse">Edytuj magazyn</a></p>
  </div>
  <div class="large-3 columns">
    <a href="#remove" data-reveal-id="archiveWarehouse">Usuń magazyn</a>
  </div>
  <div class="large-3 columns">
  </div>
</div>


<div id="editWarehouse" class="reveal-modal" data-reveal>
  <h1><small>Edytuj informacje o magazynie:</small></h1>
  <div class="form">
    <%= form_for(@warehouse) do |f| %>
      <%= f.text_field :name, placeholder: "Nazwa magazynu" %>
      <h3><small>Jednostka pojemności:</small></h3>
      <%= f.collection_select(:volumeunit_id, Volumeunit.all, :id, :name) %>
      <%= f.text_field :volume, placeholder: "Pojemność magazynu" %>
      <%= f.hidden_field :archive, :value => '0' %>
      <%= f.submit "Edytuj magazyn", class: "button" %>
    <% end %>
  </div> <!--END OF form-->
</div> <!--END OF reveal-modal-->

<div id="archiveWarehouse" class="reveal-modal" data-reveal>
  <h1><small>Potwierdź usunięcie magazynu</small></h1>
  <div class="form">
    <%= form_for(@warehouse) do |f| %>
      <%= f.hidden_field :archive, :value => '1' %>
      <%= f.submit "Usuń magazyn", class: "button" %>
    <% end %>
  </div> <!--END OF form-->
</div> <!--END OF reveal-modal-->
