<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Agrome | <%= yield(:title) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <!-- Google Analytics -->
    
    

  </head>

  <body>

    <!-- HEADER SECTION -->
        
      
      <%= if yield(:title)=='Home'||'Rejestracja'
            render  'layouts/header'
          else
            render 'layouts/header_loggedin'
          end%> 

    <!--END of HEADER SECTION -->


    <!-- CONTENT SECTION -->

        <%= yield %>

    <!--END of CONTENT SECTION -->


    <!-- FOOTER SECTION -->
        
      <%= render 'layouts/footer' if yield(:title)=='Home'||'Rejestracja' %> 

    <!--END of FOOTER SECTION -->

    
    <%= javascript_include_tag "application" %>
  </body>
</html>